h1 {
    color: darkblue;
}

.desc {
    font-size: 20px;
    font-weight: bold;
    color: maroon;
}

body {
    text-align: center;
    font-family: Noto Sans, sans-serif;
    background-color: #BEEFED;
}

.click_count {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

button {
    background-color: #6653d9;
    color: white;
    font-size: 20px;
}