{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КЛИКЕР: Вход</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <aside class="menu-container">
            <a href="/"><h1 class="name">{{ user.username }}</h1></a>
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Регистрация</a>
    </aside>
    <h1 class="h1-main">Вход</h1>
    <form class ="login-form" action = "{% url 'login' %}" method = "POST">
        {% csrf_token %}
        <p>Логин: {{form.username}}</p>
        <p>Пароль: {{form.password}}</p>
        <input class="button-click" type="submit">
    </form>
</body>
</html>